@model Event_Management.Models.Decoration
@{
    ViewBag.Title = "About";
}

<h2>Home</h2>
<p>This is stablished in 2001.</p>
<div>
    <img id ="im1 " src="C:\Users\mtiwari\Documents\Pic\bottam-gallery2.jpg" alt="Tent House" width="500" height="600">
</div>

<div>
    <img id="im2" src="C:\Users\mtiwari\Documents\Pic\flower-decor.jpg" />
 </div>


